:root {
  --main-white: rgba(255, 255, 255, 1);
  --main-gray: rgb(248, 246, 246);
  --main-hover: rgb(233, 232, 232);
  --main-border: rgba(211, 211, 211, 1);
  --main-font-gray: rgb(128, 128, 128, 1);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* MAIN LAYOUT */
.wrapper {
  margin: 0 auto;
  width: 800px;
  height: auto;
}

/* HEADER */

.header {
  position: relative;
}

.header__background {
  background: no-repeat url("/images/background.jpg");
  background-size: cover;
  height: 260px;
  width: auto;
  filter: brightness(30%);
}

.header__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* HEADER NAV */

.header__nav {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__title {
  font-size: 4rem;
  color: var(--main-white);
  cursor: pointer;
}

.header__watchlist-btn {
  background: transparent;
  color: var(--main-white);
  border: none;
  font-size: 1.2rem;
  align-self: center;
}

/* BTN */

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

/* HEADER FORM */

.header__form {
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
}

.form__search-div {
  display: flex;
  position: relative;
  width: 100%;
}

.form__submit-btn,
.form__search {
  border: 1px var(--main-border) solid;
}

.form__search {
  width: 100%;
  padding: 0.7rem 0.7rem 0.7rem 2rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form__search:focus {
  outline: none;
}

.form__submit-btn {
  width: 30%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--main-gray);
}

.form__submit-btn:hover {
  background-color: var(--main-hover);
}

.form__search-div .icon {
  position: absolute;
  top: 16px;
  left: 10px;
}

/* FILM GRID */

.section__film-grid {
  display: grid;
  gap: 3rem;
  margin-top: 4rem;
  padding: 0 1rem 1rem 1rem;
}

/* FILM ELEMENT */

.film-grid__film-element {
  display: flex;
  height: 200px;
}

.img-container__poster {
  width: 150px;
  height: 200px;
}

.film-element__info {
  padding: 1rem;
}

.film-element__title {
  font-weight: 900;
  font-size: 1.5rem;
}

.film-element__description {
  color: var(--main-font-gray);
  width: 450px;
}

.film-element__header,
.film-element__utils {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.film-element__utils {
  gap: 3rem;
}
